<h1 align="center">Create new category</h1>
<br>
<%= render 'shared/errors', obj: @category %>
<div align="center">
  <%= form_for(@category, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group signup">
        <div class="col-sm-offset-3 col-sm-6">
          <%= f.text_field :name, class: "form-control", placeholder: "Enter name of category", autofocus: true %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-md-offset-1 col-sm-2 control-lable col-sm-10">
          <%= f.submit class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    <% end %>
  <div class="col-xs-4">
    <%= link_to "Back to articles", articles_path %>
  </div>
</div>